<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Turf</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/turfs" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">title</label>
                <input class="form-control" type="text" id="title" name="turf[title]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">location</label>
                <input class="form-control" type="text" id="location" name="turf[location]" required>
            </div>
            
            <div class="mb-3">
                <label for="image" class="form-label">Choose images</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
              </div>
            
            <div class="mb-3">
                <label class="form-label" for="price">Turf price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label"  name="turf[price]" required>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="turf[description]" required></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">add turf</button>
            </div>
        </form>
        <a href="/turfs">All turfs</a>
    </div>
</div>

